<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.OrderDao">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Order" >
        <result column="order_id" property="orderId" jdbcType="DECIMAL" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getById" resultMap="BaseResultMap">
        SELECT * FROM t_order WHERE order_id = #{orderId}
    </select>
    <select id="getOrderList" resultMap="BaseResultMap">
        SELECT * FROM t_order WHERE order_id >= #{orderId} order by order_id desc limit 1;
    </select>

    <update id="updateById">
        update t_order set remark=remark where order_id = #{orderId}
    </update>

    <select id="getTest" resultType="long">
        select id from test
    </select>
</mapper>